@use './../_mixins' as mixins;

@mixin question-container($text-line-height, $page-content-bottom-margin) {
    .question-container {
        margin-bottom: 1.5em;

        @include mixins.print($text-line-height);

        &:last-of-type {
            @include mixins.print($page-content-bottom-margin);
        }
    }
}

.question {
    font-size: 18px;
    font-weight: bold;
}

.answer {
    margin-top: 0.5em;
}