.page-title {
    font-size: 26px;
    font-weight: bold;
    margin: 1em 0;
}

.question-container {
    margin-top: 1.75em;
    line-height: 1.35;
}

.question {
    font-size: 18px;
    font-weight: bold;
}

.answer {
    margin-top: 0.5em;
}