@use './../_mixins' as mixins;

@mixin toolbar($app-primary-background) {
    mat-toolbar.toolbar {
        @include mixins.print($app-primary-background);
        padding: 0 1em;
        justify-content: space-between;
    }
}

.header-title {
    cursor: pointer;
}

.parent-menu-item {
    padding: 0.5em 1em;
    cursor: pointer;
}

.menu {
    display: inline-block;
}

