.header-toolbar {
    padding: 0 1em;
    justify-content: space-between;
    background-color: #675682;
    color: white;
}

.header-title {
    cursor: pointer;
}

.parent-menu-item {
    padding: 0.5em 1em;
    cursor: pointer;
}

.menu {
    display: inline-block;
}

