<div class="footer-container">
    <div class="footer-row-container">
        <span class="margin-right footer-item">Rana Lewis</span>
        <span class="margin-right footer-item">Mason, OH</span>
    </div>
    <div class="footer-row-container">
        <span class="icon-text-container">
            <span class="material-icons material-icons-outlined">call</span>
            <span class="footer-item">(513)-252-3992</span>
        </span>
        <span class="icon-text-container footer-item email" (click)="onEmailClicked()">
            <span class="material-icons material-icons-outlined">mail</span>
            <span>rana.lewis1&#64;gmail.com</span>
        </span>
    </div>
</div>