@use './../_mixins' as mixins;

@mixin contact-page-container($text-line-height, $page-content-bottom-margin) {
    .contact-page-container {
        @include mixins.print($text-line-height);
        @include mixins.print($page-content-bottom-margin);
    }
}

.contact-type-header {
    font-size: 18px;
    font-weight: bold;
}

.email-container {
    margin-top: 1em;
}

.form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
    max-width: 400px;

    .ng-invalid {
        border: 2px solid red;
    }

    input, textarea {
        border-radius: 5px;
        border: 2px solid darkgray;
        line-height: 1.75;
    }
}

.question-label-error-message-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.error-message {
    color: red;
    font-size: 12px;
    font-weight: bold;
}

textarea {
   resize: none;
}

@mixin submit-button($app-primary-background) {
    .submit-button {
        @include mixins.print($app-primary-background);
        font-weight: bold;
        border: none;
        padding: 1em;
        border-radius: 20px;
        cursor: pointer;
    }
}