@use './../_mixins' as mixins;

@mixin contact-form($page-title-margin, $text-line-height, $page-content-bottom-margin) {
    form {
        @include mixins.print($page-title-margin);
        @include mixins.print($text-line-height);
        @include mixins.print($page-content-bottom-margin);
    }
}

.form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
    max-width: 400px;

    .ng-invalid {
        border: 2px solid red;
    }
}

.question-label-error-message-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.error-message {
    color: red;
    font-size: 12px;
    font-weight: bold;
}

textarea {
   resize: none;
}