.page-title {
    font-size: 26px;
    font-weight: bold;
    margin: 1em 0;
}

form {
    margin-top: 1.75em;
    line-height: 1.35;
}

.form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
    max-width: 400px;

    .ng-invalid {
        border: 2px solid red;
    }
}

.question-label-error-message-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.error-message {
    color: red;
    font-size: 12px;
    font-weight: bold;
}

textarea {
   resize: none;
}