<div class="page-title">Let's Connect</div>

<div class="contact-page-container">
    <div>
        <div class="contact-type-header">Phone</div>
        <span class="icon-text-container">
            <span>(513)-252-3992</span>
        </span>
    </div>
    <div class="email-container">
        <div class="contact-type-header">Email</div>
        <form [formGroup]="emailForm" (submit)="sendEmail($event)">
            <div class="form-element">
                <div class="question-label-error-message-container">
                    <label>Name</label>
                    @if (!emailForm.get('from_name')?.valid) { 
                        <span class="error-message">Name is required</span>
                    }
                </div>
                <input type="text" formControlName="from_name" name="from_name">
            </div>
            <div class="form-element">
                <div class="question-label-error-message-container">
                    <label>Your Email Address</label>
                    @if (!emailForm.get('reply_to')?.valid) { 
                        <span class="error-message">{{ this.emailForm.get('reply_to')?.errors?.["error"] }}</span>
                    }
                </div>
                <input formControlName="reply_to" name="reply_to" type="email">
            </div>
            <div class="form-element">
                <div class="question-label-error-message-container">
                    <label>Message</label>
                    @if (!emailForm.get('message')?.valid) { 
                        <span class="error-message">Message is required</span>
                    }
                </div>
                <textarea formControlName="message" name="message" rows="10"></textarea>
            </div>
            <input class="submit-button" type="submit" value="Send Email">
        </form>
    </div>
</div>