@mixin print($declarations) {

    @each $property,
    $value in $declarations {
        #{$property}: $value;
    }
}

@mixin px-1340-breakpoint {
    @media (max-width: 1340px) {
        max-width: 300px;
    }
}

@mixin px-1116-breakpoint {
    @media (max-width: 1116px) {
        max-width: 250px;
    }
}

@mixin px-690-breakpoint {
    @media (max-width: 690px) {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
}

@mixin px-500-breakpoint {
    @media (max-width: 500px) {
        max-width: 250px;
    }
}