@use './_mixins' as mixins;

@mixin toolbar($app-primary-background) {
    mat-toolbar.toolbar {
        @include mixins.print($app-primary-background);
        padding: 0 1em;
        justify-content: space-between;

        .icon-title-container {
            display: flex;
            align-items: center;
        }
        
        .hamburger-icon {
            height: 24px;
            margin-right: 0.5em;
            cursor: pointer;
        
            @media only screen and (min-width: 800px) { 
                display: none;
            }
        }
        
        .menu-item-container {
            @media only screen and (max-width: 800px) { 
                display: none;
            }
        }
        
        .header-title {
            font-size: 24px;
            cursor: pointer;
        }
        
        .top-nav-menu-item {
            padding: 0.5em 1em;
        }

        .clickable {
            cursor: pointer;
        }
        
        .menu {
            display: inline-block;
        }
    }
}

button.mdc-list-item {
    border: none;
}

mat-sidenav {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

mat-nav-list {
    display: flex;
    flex-direction: column;

    &.mdc-list {
        padding-top: 0;
    }

    .side-nav-menu-item {
        font-size: 22px;
        padding: 0.5em 3em 0.5em 1em;
        cursor: pointer;

        &:hover {
            background-color: #e8e8e8;
        }
    }
}

mat-sidenav-content {
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 600px) {
        height: calc(100vh - 56px);
    }
}

