.app-container {
    min-height: 100vh;
    cursor: default;
    display: flex;
    flex-direction: column;
}

.page-body-container {
    flex-grow: 1;
    padding: 0 3em;
    font-size: 18px;
}

body {
    margin: 0;
}

.mat-mdc-snack-bar-container {
    &.snackbar-success {
        --mdc-snackbar-container-color: green;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;
    }

    &.snackbar-failure {
        --mdc-snackbar-container-color: red;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;
    }
}

.btb-snackbar {
    margin: 0 !important;
    position: absolute;
    right: 25px;
    top: 80px;
    max-width: 90vw;
}