@use './mixins' as mixins;
@use './about/about.component.scss' as about;
@use './contact/contact.component.scss' as contact;
@use './faq/faq.component.scss' as faq;

$page-title-margin: (
    margin-top: 1.75em,
);

$text-line-height: (
    line-height: 1.35,
);

@include about.text-container($page-title-margin, $text-line-height);
@include contact.contact-form($page-title-margin, $text-line-height);
@include faq.question-container($page-title-margin, $text-line-height);

.app-container {
    min-height: 100vh;
    cursor: default;
    display: flex;
    flex-direction: column;
}

.page-body-container {
    flex-grow: 1;
    padding: 0 3em;
    font-size: 18px;
}

.page-title {
    font-size: 26px;
    font-weight: bold;
    margin: 1em 0;
}

body {
    margin: 0;
}

.mat-mdc-snack-bar-container {
    &.snackbar-success {
        --mdc-snackbar-container-color: green;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;
    }

    &.snackbar-failure {
        --mdc-snackbar-container-color: red;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;
    }
}

.btb-snackbar {
    margin: 0 !important;
    position: absolute;
    right: 25px;
    top: 80px;
    max-width: 90vw;
}