@use './mixins' as mixins;
@use './about/about.component.scss' as about;
@use './contact/contact.component.scss' as contact;
@use './faq/faq.component.scss' as faq;
@use './footer/footer.component.scss' as footer;
@use './header/header.component.scss' as header;
@use './home/home.component.scss' as home;
@use './product/product.component.scss' as product;

$text-line-height: (
    line-height: 1.35,
);

$page-content-bottom-margin: (
    margin-bottom: 2em,
);

@include about.text-container($text-line-height, $page-content-bottom-margin);
@include contact.contact-page-container($text-line-height, $page-content-bottom-margin);
@include faq.question-container($text-line-height, $page-content-bottom-margin);
@include product.product-card-description-line-height($text-line-height);

$product-card-container: (
    display: flex,
    flex-wrap: wrap,
    align-items: flex-start,
);

@include home.home-page-container($product-card-container);
@include product.product-page-container($product-card-container);

$product-card: (
    max-width: 350px,
    border-radius: 15px,
    margin: 0 1em 2em 1em,
);

@include home.product-card($product-card);
@include product.product-card($product-card);

$product-card-title: (
    padding: 0.5em 0.75em,
);

@include home.product-card-title($product-card-title);
@include product.product-card-title($product-card-title);

$app-primary-background: (
    background-color: #675682,
    color: white,
);

@include contact.submit-button($app-primary-background);
@include header.toolbar($app-primary-background);

.app-container {
    min-height: 100vh;
    cursor: default;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.page-body-container {
    flex-grow: 1;
    padding: 0 5em 0 5em;
    font-size: 18px;


    @media only screen and (max-width: 1200px) {
        padding: 0 3em 0 3em;
    }

    @media only screen and (max-width: 600px) {
        padding: 0 2em 0 2em;
    }
}

.page-title {
    font-size: 26px;
    font-weight: bold;
    margin: 1em 0 0.75em 0;
}

body {
    margin: 0;
}

mat-card-header.mat-mdc-card-header {
    padding: 0;
}

.mat-mdc-snack-bar-container {
    &.snackbar-success {
        --mdc-snackbar-container-color: green;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;
    }

    &.snackbar-failure {
        --mdc-snackbar-container-color: red;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;
    }
}

.btb-snackbar {
    margin: 0 !important;
    position: absolute;
    right: 25px;
    top: 80px;
    max-width: 90vw;
}